<h1>you made it to game new</h1>

<h1>Create new Game</h1>

<form action = "/parks/<%= park._id %>/games" method = "POST">
    <input type = "text" name = "game[name]" placeholder = "name">
    <button>Submit!</button>
</form>